<div class="fondo-disco">
  <canvas id="estrellas"></canvas>

  <div class="circulo-invitacion">
    <h2 class="you-are-invited">ESTÁS INVITADO !!!!</h2>
    <h1 class="titulo">MI CUMPLEAÑOS #22</h1>
    <p class="detalle">
      📅 Viernes 7 de junio<br />
      🕗 9:00 PM
    </p>
    <p class="detalle">📍 AVENIDA CENTRAL 1304</p>
    <p class="detalle">
      <a
        href="https://maps.app.goo.gl/HTsiy9ePvExEmpHG7"
        target="_blank"
        rel="noopener"
        class="ubicacion"
      >
        📍 REFERENCIA: CRUCE DE LA AV CENTRAL CON AV HOLANDA
      </a>
    </p>
    <p class="trago">🍸 ¡LLEVAR TRAGO OBLIGATORIO !!!</p>
    <button (click)="confirmarAsistencia()">CONFIRMAR ASISTENCIA</button>
  </div>
</div>
